.game-view {
  height: 100%;
}

.game-header {
  position: absolute;
  top: 0px;
  color: white;
  height: max(30px, calc(5%));
  width: 100%;
  text-align: center;
  line-height: normal;
  font-size: clamp(14px, 2vw, 34px);
}

.game-footer {
  position: absolute;
  bottom: 0px;
  height: max(30px, calc(5%));
  color: white;
  width: 100%;
  text-align: center;
  line-height: normal;
  font-size: clamp(14px, 2vw, 34px);
}

.game-body {
  position: absolute;
  top: max(30px, calc(5%));
  bottom: max(30px, calc(5%));
  width: 100%;
}

.game-health {
  padding: 10px;
  float: left;
}

.game-fps {
  padding: 10px;
  float: right;
}
